:root {
  --color-dark: oklch(0.1462 0.0204 268.3);
  --color-light: oklch(96.8% 0.007 247.896);
  --color-slate400: oklch(70.4% 0.04 256.788);
  --color-slate600: oklch(44.6% 0.043 257.281);
  --color-slate800: oklch(27.9% 0.041 260.031);
  --color-rose: oklch(58.6% 0.253 17.585);
  --color-indigo: oklch(51.1% 0.262 276.966);

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --color-light: oklch(0.1462 0.0204 268.3);
  --color-dark: oklch(96.8% 0.007 247.896);
  --color-slate400: oklch(27.9% 0.041 260.031);
  --color-slate600: oklch(27.9% 0.041 260.031);
  --color-slate800: oklch(27.9% 0.041 260.031);
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--color-rose);
}

strong {
  color: var(--color-indigo);
}
